.projects {
  &__title {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__block {
    padding-top: 60px;

    .filter__list {
      display: flex;
      align-items: center;
      gap: 20px;

      .filter__block {
        height: 35px;
        min-width: 50px;
        padding: 0px 20px;
        background-color: #ececec;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: all 0.3s ease-out;

        &__selected {
          height: 35px;
          min-width: 50px;
          padding: 0px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: black;
          color: white;
          transition: all 0.3s ease-out;
        }
      }
    }

    .projects__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 40px;
      // background-color: #ffffff;
      padding: 40px 0px;
      flex-wrap: wrap;
      // overflow: auto;
      .project {
        min-width: 330px;
        min-height: auto;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        // background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all 0.3s ease-in-out;

        .project__image__wrapper {
          width: 300px;
          border-radius: 15px;
          position: relative;
          .project__image {
            width: 100%;
            height: 230px;
            border-radius: 15px;
            object-fit: cover;
          }
          .overlay {
            height: 230px;
            width: 300px;
            position: absolute;
            top: 0;
            background-color: rgb(0, 0, 0);
            opacity: 20%;
            border-radius: 15px;
          }
        }

        &__title {
          font-size: 24px;
          font-weight: 600;
        }

        &__tech__title {
          font-weight: 600;
          font-size: 18px;
        }

        .tech__array {
          display: flex;
          align-items: center;
          gap: 10px;
          .tech__wrapper {
            width: 35px;
            height: 35px;
          }
          .tech__icon {
            width: 100%;
            height: 100%;
          }
        }
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.app__work-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}
